* {
  margin: 0;
  padding: 0;
}
img {
  border-radius: 50%;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #f9faf8;
  text-align: left;
}

.header-child {
  font-size: 18px;
  color: #e5e7eb;
  text-align: right;
}

.main {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
}

.main-left {
  margin-left: 20%;
}
.main-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.main-text {
  font-size: 18px;
  width: 50%;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  width: 80px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.info-text {
  color: black;
  text-align: center;
  font-size: 14px;
}
.info-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
  margin-left: 20%;
}

.card-img {
  border: solid 5px #3882f6;
  border-radius: 50%;
}

.info-title {
  font-size: 48px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  height: 250px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.quote-text {
  font-size: 30px;
  font-style: italic;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-right: 20%;
}

.quote-text {
  margin-left: 25%;
  margin-right: 25%;
}

footer {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  justify-content: space-evenly;
}

.footer-left {
  font-size: 18px;
}

#btn-2 {
  border: solid 2px white;
}
